<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBF-About Developer</title>
    <link rel="shortcut icon"
        href="https://cdn.discordapp.com/attachments/981026321796837416/987956605435920404/image_2022-06-19_112357070.png"
        type="x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='/style.css') }}">
</head>

<body>
    <div class="main-about-dev">
        <div>
            <img src="https://cdn.discordapp.com/avatars/865231527523778593/b7979a35633086a1dca570b644cf3199.png?size=1024"
                alt="" style="height: 6rem; width: 6rem; border-radius: 50%; margin-top: 7rem; margin-bottom: 3rem;">
            <h2>RISHIKESH JHA</h2>
            <h6>AKA Yuuh!</h6>
            <br>
            <p>This project took make more than a month to complete and I learn various stuffs during this project.</p>
            <p>I am a teenage scholar with a passion for computer science and technology.</p>
            <br>
            <p>You can contact me on:</p>
            <p><span class="abt-span"><a href="https://www.instagram.com/creepyeichi/"><i
                            class="fa-brands fa-instagram"></i></a>
                </span><span class="abt-span"><a href="https://discord.gg/6mEzhSNMwM"><i
                            class="fa-brands fa-discord"></i></a></span></p>
            <br>
            <p>Scource Code on: <span><a href="https://github.com/Yuuh01/bbf-fan-art"><i class="fa-brands fa-github"></i></a></span></p><br><br><br><br><br>
            <p>I have written a blog for those who topup in games <span><a
                        href="https://discord-bot.pervysage2.repl.co">CHECK OUT HERE!!!</a></span></p>
            <br>
            
            <p>
            <ul style="list-style: none;">
                <li></li>
                <li>HTML, CSS & Javascript</li>
                <li>Python - Flask</li>
                <li>Google fonts & Awsomefonts</li><br><br>
                <li>-----A Fan Art For BBF-----</li>

        </div>
    </div>
</body>

</html>